.tag-list-opt {
    display: flex;
    gap: 5px;
}

.lane-container {
    border-radius: 20px;
    background-color: #885d00;
    min-width: 100px;
    padding-left: 7px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.role-container {
    border-radius: 20px;
    background-color: #006609;
    min-width: 100px;
    padding-left: 15px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ad-type-container {
    border-radius: 20px;
    background-color: #796700;
    min-width: 100px;
    padding-left: 15px;
    padding-right: 5px;
}

.ap-type-container {
    border-radius: 20px;
    background-color: #0003a7;
    min-width: 100px;
    padding-left: 15px;
    padding-right: 5px;
}

.post-type {
    border-radius: 20px;
    background-color: #681b80;
    min-width: 100px;
    padding-left: 15px;
    padding-right: 5px;
    text-align: center;
}

.guide-beginner {
    border-radius: 20px;
    background-color: #197716;
    min-width: 100px;
    padding-left: 15px;
    padding-right: 5px;
    text-align: center;
}

.guide-experienced {
    border-radius: 20px;
    background-color: #888a15;
    min-width: 100px;
    padding-left: 15px;
    padding-right: 5px;
    text-align: center;
}

.guide-advanced {
    border-radius: 20px;
    background-color: #771616;
    min-width: 100px;
    padding-left: 15px;
    padding-right: 5px;
    text-align: center;
}

.image {
    max-height: 20px;
    margin-top: 10px;
}

/* Share opt */
#share {
    display: flex;
    gap: 5px;
}

.share_img {
    max-height: 20px;
    margin-top: 8px;
    font-size: 1.2em;
}

.share_button {
    border-radius: 20px;
    background-color: #650079;
    min-width: 100px;
    padding-left: 10px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Donate opt */
#donate {
    display: flex;
    gap: 5px;
}

.donate_img {
    max-height: 20px;
    margin-top: 8px;
    font-size: 1.2em;
}

.donate_button {
    border-radius: 20px;
    background-color: #aa008e;
    min-width: 100px;
    padding-left: 10px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Path opt */
#path_text {
    color: #696969;
}

.path_link {
    color: #9b9b9b;
    text-decoration: underline;
}